/* Developers Section */
.container-fluid {
    padding: 50px 0;
}

/* Developer Card */
.developers_card {
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.card_img {
    height: 360px;
    overflow: hidden; /* Ensures image does not overflow */
    position: relative;
    border-radius: 10px 10px 0 0; /* Rounded corners for top */
}


/* Image Styling */
.card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures image covers the container */
    display: block;
    transition: transform 0.3s ease-in-out;
}

/* Image Scale Effect on Hover */
.developers_card:hover .card_img img {
    transform: scale(1.1); 
}

.developers_body {
    padding: 20px;
    background-color: #111;
    color: white;
    text-align: left;
    border-radius: 0 0 10px 10px; /* Rounded bottom corners */
}
