/* Container */
.login-container {
    height: 100vh;
    background: #f9f8f4;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Login Card */
  .login-card {
    width: 400px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  

  /* Social Login Buttons */
  .social-login {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    margin: auto;
    margin-bottom: 5px;
    width: 242px;
    text-align: center;
    justify-content: center;
    font-size: 14px;
  }
  
  .social-login:hover {
    background-color: #ccc;
  }
  
  .social-icon {
    font-size: 18px;
  }  
  
  /* CAPTCHA */
  .captcha-box {
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }
  
  .captcha-img {
    width: 100%;
    border-radius: 5px;
  }
  
  /* Input Fields */
  .form-group {
    margin-bottom: 15px;
    text-align: start;
  }
  .form-group label {
    margin-bottom: 10px;
  }
  
  .form-control {
    background: #fff;
    border: 1px solid #000;
    padding: 12px !important;
    border-radius: 5px;
    font-size: 14px;
  }
  .form-control:focus {
    border-color: #000 !important;
    outline: 0;
    box-shadow:none !important;
}
  
  .form-control::placeholder {
    color: #ccc !important;
  }
  
  /* Password Visibility */
  .password-toggle {
    position: absolute;
    right: 10px;
    top: 48px;
    cursor: pointer;
    color: #666;
  }
  
  /* Forgot Password */
  .forgot-password {
    display: block;
    text-align: left;
    font-size: 14px;
    color: #666;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  /* Login Button */
  .login-btn {
    background: #000;
    color: white;
    font-weight: bold;
    padding: 12px;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
  
  .login-btn:hover {
    background: #333;
  }
  
  /* Signup Link */
  .signup-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-link:hover {
    text-decoration: underline;
  }
  
  /* Terms and Privacy */
  .terms-text {
    font-size: 12px;
    color: #777;
    margin-top: 10px;
  }
  
  .terms-text a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
  
  .terms-text a:hover {
    text-decoration: underline;
  }
  
  