@media only screen and (max-width: 992px) {
    .navbar-collapse {
        position: absolute;
        width: 100%;
        top: 80px;
        transition: all 0.3s ease-in;
        left: 0;
        z-index: 16;
    }
    .navbar {
        min-height: 100px;
    }

    .navbar-nav {
        height: calc(100vh - 60px);
        text-align: start;
        background: #000;
        width: 100% !important;
        overflow-y: auto;
        padding: 0px 25px;
        border-bottom: 2px solid white;
    }

    .navbar-nav .nav-link {
        font-size: 24px;
    }
    .navbar-nav .nav-link::after {
        width: 0;
    }
    
}

@media only screen and (max-width: 768px) {
    .navbar-nav {
        /* height: calc(100vh - 60px); */
        text-align: start !important;
    }
    .container {
        max-width: 740px;
    }
    .navbar {
        padding: 0 22px;
    }
    .footer-links {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 0 14px;
    }
 
   
}

@media only screen and (max-width: 600px) {
    /* .banner-section {
        min-height: 350px;
    } */
    .trade_text h2 {
        font-size: 20px;
    }
    .learn_more a {
        font-size: 16px;
    }
    /* .banner-text {
        font-size: 216px;
        font-weight: 700;
    } */
    .section_title {
        font-size: 24px;
    }
    .job-title {
        font-size: 16px;
        text-align: start;
    }
    .job-arrow {
        font-size: 14px;
        padding: 10px 14px;
        margin-left: 10px;
    }
   
}

@media only screen and (max-width: 425px) {
    .card_img {
        height: 300px;
    }
  

}





